@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    font-family: Roboto;

    background-color: #FAFAFA;
  }
  
  .barra-do-topo {
    position: fixed;

    box-sizing: border-box;  
    border-bottom: 1px solid #DBDBDB;


    width: 200%;
    height: 54px;
  
    display: flex;
    
    align-items: center;
    justify-content: center;
  
    background-color: white;

    z-index: 999;
  }
  
  .barra-menor-com-itens-topo {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  .partebarra-direita-superior{
    font-size: 20px;
    letter-spacing: 20px;
  }

  /*BARRA PESQUISAR DO MEIO DO TOPO*/
  .barra-pesquisar{
    
    width: 215px;
    height: 26px;

    text-align: center;

    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    
    ;
  }
.barra-pesquisar{
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.barra-pesquisar p{
  
  font-size: 12px;
  color: #979797;

}

/*INICIO PARTE ESQUERDA DA TOPO*/
.partebarra-esquerda-superior{
    display: flex;
    background-color: white;
}
  .logo-instagram img{
    padding-top: 3px;
    width: 20px;
    background-color: white;
  }
  .barrinha-entre-logo-e-nome{
    margin: 2px 8px 0 11px;
    height: 23px;
    width: 1px;
    background-color: #cecece;
  }
  .nome-instagram img{
    padding-top: 2px;
    margin-left: 5px;
    height: 29px;
  }
  /*FIM DA PARTE ESQUERDA DO TOPO*/

  .div-storie-mais-posts-e-sidebar {
    width: 935px;
  
    display: flex;
    justify-content: space-between;
  }
  


  /*BARRA DE STORIES*/
.barra-de-stories {
    box-sizing: border-box;

    border-radius: 3px;
    border: 1px solid #DBDBDB;
  
    display: flex;
    align-items: center;
    
    margin-top: 88px;
  
    width: 614px;
    height: 118px;
  
    overflow:hidden;

    background-color: white;

    position: relative;

    z-index: 0;
  }

  .setinha{
    font-size: 26px;
    color: white;

    
    position: absolute;
    top: auto;
    left: 95%;

    z-index: 10;
  }

.storie-completo{
display: flex;
flex-direction: column;
align-items: center;

margin-left: 14px;

z-index: 9;
}

.storie-completo p{
  font-size: 12px;
  margin-top: 5px;
}

.fundo-circulo {
  width: 66px;
  height: 66px;  

  background-image: url("imagens/stories_background.jpg");
  background-size: cover; 

  position: relative;
  }

.imagem-do-storie{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/kawhistorie.jpg");
  background-size: cover;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie1{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/lebronstorie.jpg");
  background-size: cover;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie2{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/durantstorie.jpg");
  background-size: cover;
  background-position-x: 70px;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie3{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/currystorie.jpeg");
  background-size: cover;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie4{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/lillardstorie.jpg");
  background-size: cover;
  background-position-x: -10px;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie5{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/mitchelstorie.jpg");
  background-position-x: -10px;
  background-size: cover;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie6{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/jokicstorie.jpg");
  background-size: cover;
  background-position-x: -10px;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}

.imagem-do-storie7{
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background-image: url("imagens/doncicstorie.jpg");
  background-size: cover;
  background-position-x: -20px;
 
  position: absolute;
  top:8.5%;
  left: 8.5%;
}
 /*FIM DA BARRA DE STORIE*/  
  

  .div-dos-posts-todos{}

  .caixa-de-post {
    box-sizing: border-box;  
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    
    margin-top: 34px;
    margin-bottom: 60px;
  
    width: 614px;
    height: 749px;
    height: auto;
  
    
  }
  
  .barra-superior-post {
    border-radius: 3px;
    box-sizing: border-box;
    height: 61px;

    display: flex;
    align-items: center;
  
    background-color: white;
  }

  .barra-superior-post img{
    width: 32px;
    height: 32px;
  
    margin-left: 15px;

    object-fit: cover;
    object-position: 30%;

    border-radius: 50%;
   
  }
.barra-superior-post p{
  padding-left: 15px;

  font-size: 14px;

  font-weight: 500;
}
  
  .imagem-central {
    box-sizing: border-box;
    height: 612px;

  }

  .imagem-central img{
    width: 612px;
    height: 612px;
    
    object-fit: cover;
    object-position: top;
  }
  
  .barra-inferior1-post {
    box-sizing: border-box;
    height: 33px;
  
    padding-top: 11px;

    display: flex;
    justify-content: space-between; 
    align-items: center;

    background-color: white;
  }
  
  .lado-esquerdo-barra-inferior1{
    font-size: 20px;

    margin-left: 17px;

    letter-spacing: 12px;

  }
  .lado-direito-barra-inferior1{
    font-size: 20px;
    margin-right: 10px;
  }

  .barra-inferior2-post {
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    
    align-items: center;
    
    height: 34px;
  
    background-color: white;
  }

  .barra-inferior2-post img{
    width: 20px;
    height: 20px;
  
    margin-left: 17px;
    margin-right: 5px;

    border-radius: 50%;
  }

  .barra-inferior2-post p{
    font-size: 14px;
  }

  strong{
    font-size: 14px;
    font-weight: 700;

  }
  
  video{
    width: 612px;
    height: 612px;
    
    object-fit: cover;
    object-position: top;
    }

.sidebar-completo{
  width: 293px;
  height: auto;

  
}

 .sidebar {
  display: flex;
  align-items: center;
  
  margin-top: 88px;
  box-sizing: border-box;
  
  width: 293px;
  height: 118px;
 
 

  position: relative;
}


.sidebar img{
  width: 55px;
  height: 55px;

  margin-bottom: 10px;

  border-radius: 50%;
  object-fit: cover;

  
}

.texto-topo-sidebar{
  width: 182px;
  height: 34px;

  margin-left: 17px;
}

.texto-topo-sidebar h1{
  font-size: 14px;
  font-weight: 500;
}

.texto-topo-sidebar h2{
  font-size: 12px;

  margin-top: 5px;

  color: #8e8e8e;  
}

.sugestoes{
  position: absolute;
  bottom:0;
  left:0;

  font-size: 12px;
  font-weight: 500;

  color: #8e8e8e;
}

.vertudo{
  position: absolute;
  bottom:0;
  right:0;

  font-size: 12px;
  font-weight: 500;
}

.parte-meio {
  display: flex;
  justify-content: space-between;
  align-items: center;

    margin-top: 17px;
}

.parte-da-esquerda{
  display: flex;
  align-items: center;
}

.parte-da-esquerda img{
  width: 32px;
  height: 32px;

  border-radius: 50%;
  object-fit: cover;

}

.texto-meio-sidebar{
  width: 100%;
  height: 34px;

  margin-left: 11px;

  
}

.texto-meio-sidebar h1{
  font-size: 14px;
  font-weight: 500;
}

.texto-meio-sidebar h2{
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;

  color: #8e8e8e;  
}

.parte-da-direita p{
  font-size: 12px;
  font-weight: 500;
  
  color: #139ef2;
}

.sobre-ajuda{
  margin-top: 33px;

  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}

.instagram-do-facebook{
  margin-top: 18px;

  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}